body{
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  background: url("../img/fullscreen_bg_image.jpg");
  background-size: cover;




}



  .login {

    margin: auto;
    width: 60%;
    height: auto;
    background-color: #ffffff;
     margin-top:150px ;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    .wrapper{
      width: 80%;

      display: block;
      margin: auto;
      h2 {
        font-size: 24px;
        color: rgb(51, 51, 51);
        line-height: 1.042;
        padding:53px 0 20px 0;
        text-align: center;

      }
      hr.line{
        border:1px solid #d0dce7;



      }


        label {

          font-size: 12px;
          color: rgb(51, 51, 51);
          line-height: 1.833;
          text-align: left;
          position: absolute;
          left: 0;
          padding: 13px 0;


        }


      form {

        > div {
          position: relative;
          overflow: visible;
        }
        input {
          font-size: 16px;
          color: rgb(51, 51, 51);
          line-height: 1.375;
          display: block;
          resize: vertical;
          border: none;
          border-radius: 0;
          outline: none;
          box-shadow: none !important;
          -webkit-box-shadow: none !important;
          border-bottom: 2px solid #d0dce7;
          margin: 30px 0 0 0;
          background: none;
          position: relative;
          top: 0;
          left: 0;
          z-index: 1;
          padding: 12px 0;
          outline: 0;
          width: 100%;
          &:valid {

            background: white;
          }

          &:focus + label {
            background: #fff;
            color: rgb(63, 69, 74);
            z-index: 2;
            text-transform: uppercase;
          }
        }
        label {
          transition:
                  background 0.5s,
                  color 0.5s,
                  top 0.5s,
                  bottom 0.5s,
                  right 0.5s,
                  left 0.5s;
          position: absolute;
          font-size: 16px;

          line-height: 1.375;

        }

      }


      form.go-top {

        label {
          top: 0;
          bottom: 0;
          left: 0;

        }

        input:focus + label {
          bottom: 100%;
          margin-top: -30px;
          color: rgb(51, 51, 51);
          overflow:visible;
          left:0;
          font-size: 12px;
          line-height: 1.833;
        }
      }

      p {
          font-size: 14px;
          color: rgb(168, 184, 196);
          line-height: 1.571;
          padding: 30px 0;
          text-align: center;


      a{
        text-decoration: none;
      }
    }
        .submit {
          font-size: 14px;
          color: rgb(255, 255, 255);
          font-weight: bold;
          line-height: 1.571;
          margin-bottom: 38px;
          background-color:#007ee5 ;
          border:0;
          text-transform: uppercase;
          padding: 15px;
          width: 100%;
        }

    }





  }

@media (max-width: 768px) {
  .login {
    margin-top:0 !important;
    width: 100%;
    height: 100%;
    top: 0;
    bottom:0;
    position: absolute;
    left: 0;
    border-radius: 0;

   h2{
     padding-bottom: 30px !important;
   }
  }

  hr.line{
    display: none;


  }
  p{
    text-align: justify !important ;
  }

    .submit{
      position: absolute;
      bottom:0;
      width: 100%;
      left: 0;
      margin-bottom: 0 !important;

    }
  }




